.b-slider {
  padding: 30px 0;

  .slider-m {
    display: block;

    .slides {

      .desc {
        font-size: 18px;
        position: static;
        margin: 0 auto;
        text-align: center;
        &:before {
          width: 100%;
        }
      }

      & > li img {

        position: static;
      }
    }
  }

  .slider-d {
    display: none;
  }
}