.b-slider {
  padding: 20px 0 60px;

  .mobile-flexslider {
    display: block;

    .flex-control-nav {
      bottom: -38px;

      li {
        margin: 2px;
      }
    }

    .slides {

      .desc {
        font-size: 18px;
        line-height: 1.3;
        position: static; //*
        margin: 0 auto; //*
        text-align: center; //*

        &:before {
          width: 100%; //*
          height: 7px;
          margin-bottom: 15px;
        }
      }

      & > li img {

        position: static; //*
      }

      .flex-control-nav li {
        margin: 5px;
      }
    }
  }

  .flexslider {
    display: none;
  }
}