.b-slider {
  padding: 20px 0 60px;

  .slider-m {
    display: block;

    .flex-control-nav {
      bottom: -38px;

      li {
        margin: 2px;
      }
    }

    .slides {

      .desc {
        font-size: 18px;
        position: static;
        margin: 0 auto;
        text-align: center;

        &:before {
          width: 100%;
        }
      }

      & > li img {

        position: static;
      }

      .flex-control-nav li {
        margin: 5px;
      }
    }
  }

  .slider-d {
    display: none;
  }
}