.section-top {
  position: relative;

  .img {

    img {
      width: 100%;
    }
  }

  .site-container {
    position: absolute;
    display: block;
    top: 12%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;

    .logo {
      margin-bottom: 0.5%;

      img {
        margin: 0 auto;
      }
    }

    .text {
      max-width: 580px;
      margin: 0 auto;
    }
  }
}