.b-info {

  .content-item {
    margin-bottom: 20px;

    .desc {
      float: none;
      width: 100%;
      padding-right: 0%;
      margin-bottom: 25px;

      h5 {
        margin-bottom: 10px;
      }

      ul {
        margin: 0 0 20px;
      }

      img {
        margin: 0 auto;
      }
    }

    &:nth-child(2) {

      .desc {
        float: none;
      }
    }

    .img {
      margin-bottom: 25px;
    }
  }
}