.b-info {

  .content-item {
    margin-bottom: 48px;

    .desc {
      width: 48.8%;
      padding-right: 2%;

      h5 {
        margin-bottom: 12px;
      }
    }

    &:nth-child(2) {

      .img {
        padding-right: 30px;
      }
    }
  }
}