.b-info {

  .content-item {
    @include clearfix();
    margin-bottom: 148px;

    .el-with-animation {
      opacity: 0;
    }

    .animating-end {
      opacity: 1;
    }

    .desc {
      float: left;
      width: 38.8%;
      padding-right: 4%;
      @include transition(all 0.5s);

      h5 {
        margin-bottom: 30px;
      }

      ul {
        margin: 0 0 25px;

        li {
          padding: 0;
          margin: 0;
        }
      }
    }

    &:nth-child(2) {

      .desc {
        float: right;
      }
    }

    .img {
     overflow: hidden;
     @include transition(all 2s);
    }
  }

}